/*header styling
*/

header {
    height: 50px;
    text-align: center;
    font-size: 45px;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px #a8a6a6;
    margin: 30px 0 30px 0;
}

h1 {
    margin: 0;
}

/*styling for container
*/
.row {
    height: 75px;
}

/*styling for images
*/

#imgDiv {
    height: 175px;
}

.imgDiv2 {
    float: left;
    width: 33%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/*styling for start and results text
*/

#resultText {
    text-align:center;
    font-family: 'Nerko One', cursive;
}

/*styling for win/lose
*/

.result {
    float: left;
    width: 50%;
    text-align: center;
}

#win {
    float: left;
    width: 50%;
    text-align: center;
}

#lose {
    float: left;
    width: 50%;
    text-align: center;
}

/* media queries
*/

@media screen and (max-width: 380px) {

    header {
        margin-bottom: 75px;
    }

    #imgDiv {
        height: 75px;
    }

}


