/*header styling
*/

header {
    height: 50px;
    text-align: center;
    font-size: 45px;
}

/*styling for container
*/
.row {
    height: 75px;
}

/*styling for images
*/

/*styling for start and results text
*/

#resultText {
    text-align:center;
}

/*styling for win/lose
*/

.result {
    float: left;
    width: 50%;
    text-align: center;
}

#win {
    float: left;
    width: 50%;
    text-align: center;
}

#lose {
    float: left;
    width: 50%;
    text-align: center;
}


