/*header styling
*/

header {
    height: 50px;
    text-align: center;
    font-size: 45px;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px #a8a6a6;
    margin-top: 25px;
}

h1 {
    margin: 0;
}

/*styling for container
*/
.row {
    height: 75px;
}

/*styling for images
*/

/*styling for start and results text
*/

#resultText {
    text-align:center;
}

/*styling for win/lose
*/

.result {
    float: left;
    width: 50%;
    text-align: center;
}

#win {
    float: left;
    width: 50%;
    text-align: center;
}

#lose {
    float: left;
    width: 50%;
    text-align: center;
}


